﻿
.fr{ float:right; }
.buttons { margin:10px 0; }
.block {
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	border-bottom:1px solid #cdcecd;
	/*padding-bottom:10px;*/
}
.top-header {
	bbackground: #cccae9; /* Old browsers */
	background: -moz-linear-gradient(top,  #cccae9 0%, #56509f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccae9), color-stop(100%,#56509f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cccae9 0%,#56509f 100%); /* W3C */
	padding: 10px;
}
.top-header .logo{
	float:left;
	width:48%;
}
.top-header .login{
	float:right;
	width:48%;
}
#top {
   	background: #fafaf9;
	background: -moz-linear-gradient(top,  #fafaf9 0%, #ebebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafaf9), color-stop(100%,#ebebeb));
	background: -webkit-linear-gradient(top,  #fafaf9 0%,#ebebeb 100%);
	background: -o-linear-gradient(top,  #fafaf9 0%,#ebebeb 100%);
	background: -ms-linear-gradient(top,  #fafaf9 0%,#ebebeb 100%); 
	background: linear-gradient(to bottom,  #fafaf9 0%,#ebebeb 100%);
}
#top .block {
    height:auto;
	/*background: #cccae9;
	background: -moz-linear-gradient(top,  #cccae9 0%, #56509f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccae9), color-stop(100%,#56509f));
	background: -webkit-linear-gradient(top,  #cccae9 0%,#56509f 100%);
	background: -o-linear-gradient(top,  #cccae9 0%,#56509f 100%);
	background: -ms-linear-gradient(top,  #cccae9 0%,#56509f 100%);
	background: linear-gradient(to bottom,  #cccae9 0%,#56509f 100%);*/
}
#menu {
    list-style: none outside none;
    margin: 0;
    padding:5px 10px;
	border-bottom:1px solid #fff;
	box-shadow: 0px 1px 0 #cdcecd;
}
#menu li {
    float: left;
	margin:0 2px;
}
#menu a {
    /*color: #0F5A91;*/
	color:#56509f;
    float: left;
    font-size: 13px;
    height: 34px;
    line-height: 34px;
	font-family:Arial, Helvetica, sans-serif;
}
#menu a:hover, #menu .active a {
   /* background: url("../images/bg-nav.gif") no-repeat scroll 0 0 transparent;&*/
    color: #fff;
    text-decoration: none;
}
#menu li:hover, #menu li.active{
	bbackground: #cccae9; /* Old browsers */
	background: -moz-linear-gradient(top,  #cccae9 0%, #56509f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccae9), color-stop(100%,#56509f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cccae9 0%,#56509f 100%); /* W3C */
}
#menu li a span {
    float: left;
    height: 34px;
    padding: 0 8px;
}
#menu li a:hover span, #menu li.active a span {
    /*background: url("../images/bg-nav.gif") no-repeat scroll 100% -34px transparent;*/
}
#login {
    background: url("../images/ico-sprites.png") no-repeat scroll 0 -163px transparent;
    color: #fff;
    float: right;
    font-size: 13px;
    line-height: 22px;
    margin-top: 9px;
    padding: 6px 10px 5px 32px;
}
#login a {
    color: #fff;
}
#main {
    /*background: url("../images/bg-main-btm.gif") repeat-x scroll 0 100% transparent;*/
	padding-left: 5px;
}
#main .mainblock {
   /* background: url("../images/bg-main.gif") repeat-x scroll 0 0 transparent;*/
    min-height: 500px;
}
.create_key.ui-button-text-only .ui-button-text {
    padding: 0.4em 0.1em;
    width: 130px;
	font-weight:bold;
}
.ui-widget-header{
	background: #cccae9; /* Old browsers */
	background: -moz-linear-gradient(top,  #cccae9 0%, #56509f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccae9), color-stop(100%,#56509f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cccae9 0%,#56509f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccae9', endColorstr='#56509f',GradientType=0 ); /* IE6-9 */

}
.btn-blue{
	background: #cccae9; /* Old browsers */
background: -moz-linear-gradient(top,  #cccae9 0%, #56509f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccae9), color-stop(100%,#56509f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cccae9 0%,#56509f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccae9', endColorstr='#56509f',GradientType=0 ); /* IE6-9 */

	border: medium none;
    border-radius:3px;
    color: #fff;
    padding:7px 50px;
	cursor:pointer;
}
.demo table{
	table-layout:fixed;
	width:100%;
	margin:10px 0 0;
}
.demo table td, .demo table th{
	word-wrap:break-word;
         font-size: 12px;
}
h1 {
  font-size: 20px;
  padding: 10px 0;
}
h2 {
  font-size:18px;
  padding: 10px 0;
}
div#users-contain { width: 100%; margin: 0px 0px; padding:0 5px; box-sizing:border-box; }
div#codes-contain{ font-size:13px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
 div#users-contain table td img { height: 50px; width: auto; }
 div#users-contain table {  
	border-collapse: collapse;
	margin: 1em 0;
	table-layout: fixed;
	width: 100%;
	word-wrap: break-word; 
}
 div#users-contain .td_Key{ text-align:center; }
 div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 5px; text-align: left; }
 #main,.ui-dialog { font-size: 80.5%; }
 fieldset { padding:0; border:0; margin-top:5px; }


/*========= REPORT TABS STARTS ============*/
	
	.demo{
		padding:0 10px;
		box-sizing:border-box;
	}
	.report-tabs li {
		background-color: #f7f7f7;
		border: 1px solid #ccc;
		border-radius: 5px;
		float: left;
		margin: 10px 10px 0 0;
		padding: 10px;
	}
	.report-tabs li:hover{
		background: #cccae9; /* Old browsers */
		background: -moz-linear-gradient(top,  #cccae9 0%, #56509f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccae9), color-stop(100%,#56509f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #cccae9 0%,#56509f 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #cccae9 0%,#56509f 100%); /* W3C */
	}
	.report-tabs li:hover a{ color:#fff; }
	.active > a {
		color: #000;
		font-size: 17px;
		text-align: left;
		text-decoration: none;
	}
	#tab_2_2 .set-table-div{ height:34%; width:97%}
	
/*========= REPORT TABS ENDS ============*/

.choose-type-form{
	margin:5px 0 0;
}
.choose-type{
}
.set-time{
}
.row-1 {
	margin: 3px 0 3px;
	width:45%;
	display:inline-block
}
#selectDateType .row-1 {width:33%;display:inline-block}
.row-1 label, .row-1 input[ type="radio"]{
	float:left;
	margin-right:10px;
}
.row-1 input{ float:left; }
.set-time label{ }
#selectDistributor select{ border: 1px solid #cccccc;height: 35px; width:250px; font-size:14px; padding-left:10px}
#selectDistributor select option{ padding-left:10px}
.form h1{ margin: 4px 0; padding:0	}
.set-time b{ font-size:12px; display:block; }
.row-1 input[ type="datetime"]{	padding:5px; width:75%; }
.row-1 .btn-blue{ margin-top:15px}
.input-daterange{ margin-bottom:20px; margin-top: 8px;}
.set-table-div h1{ margin-top:0; display:inline-block; margin-right:40px}

/*=== EDIT FORM STARTS =====*/

.update-user-form label{
  float: left;
  margin:0 0 5px;
}
#main, .ui-dialog {
  font-size: 80.5% !important;
}
.update-user-form input.text,.update-user-form select {
  margin-bottom: 12px;
  padding: 0.4em;
  width:99%;
  float:left;
  box-sizing:border-box;
}
.update-row{ float:left; width:49%; }
.update-row:nth-child( 2n+1 ){ clear:left; margin-right:2%; }


/*=== EDIT FORM ENDS =====*/


.icons{ float:right; }

 div#users-contain table tr .send-email,  div#codes-contain table tr .send-email{ width:150px;}

.activated
{
    background:#ccffcc;
}
/*===== RESPONSIVE LAYOUT STARTS =====*/

@media ( max-width:1199px ){
	.demo{ margin:0 0 20px; }
	.demo table, .demo table tbody, .demo table tr, .demo table tr td{ display:block; width:100% !important; box-sizing:border-box;  }
	.demo table tr, .demo table{ border-bottom:1px solid #000; }
	 .demo table tr td{ min-height:30px; padding:5px; clear:left; }
	.demo table thead{ display:none; }
	.demo table tr td:before{
		float:left;
		color:#000;
		font-weight:bold;
	}
	.demo table tr .id:before{ content:'Record # :'; }
	.demo table tr .fname:before{ content:'Full Name :'; }
	.demo table tr .lname:before{ content:'Last Name :'; }
	.demo table tr .phn:before{ content:'Phone :'; }
	.demo table tr .address:before{ content:'Address :'; }
	.demo table tr .city:before{ content:'City :'; }
	.demo table tr .state:before{ content:'State :'; }
	.demo table tr .country:before{ content:'Country :'; }
	.demo table tr .email:before{ content:'Email :'; }
	.demo table tr .age:before{ content:'Age :'; }
	.demo table tr .pos:before{ content:'Position :'; }
	.demo table tr .cdate:before{ content:'Create Date :'; }
	.demo table tr .udate:before{ content:'Update Date :'; }
	.demo table tr .del:before{ content:'Del/Edit :'; }
	.demo table tr .zcode:before{ content:'Zip Code :'; }
	.demo table tr .income:before{ content:'Income :'; }
	.demo table tr .pdate:before{ content:'Payment-Date :'; }
	.demo table tr .dis:before{ content:'Distributor :'; }
	.demo table tr .adate:before{ content:'Date Active :'; }
	.demo table tr .market:before{ content:'Marketing :'; }
	.demo table tr .dcom:before{ content:'Commision :'; }
	.demo table tr .aff:before{ content:'Affiliates :'; }
	.demo table tr .acom:before{ content:'Affiliates-Commision :'; }
	.demo table tr .key:before{ content:'Key :'; }
	.demo table tr .nlinc:before{ content:'Licences:'; }
	.demo table tr .did:before{ content:'Device Id :'; }
	.demo table tr .demail:before{ content:'Send Email :'; }
	.demo table tr .devType:before{ content:'Device Type :'; }
	
	div#users-contain .td_Key{ text-align:left; }
}

@media ( min-width:768px ) and( max-width:1024px ){
	.demo table tr td:before{ width:160px; }
}

@media ( max-width:767px ){
	.demo table tr td:before{ width:110px; }
	.row-1 { width:100%}
	label{ width:88%; }
	#tab_2_2 .set-table-div{ height:45%}
	#selectDateType .row-1{ width:90%}
}

/*===== RESPONSIVE LAYOUT ENDS =====*/
	
	
	
	