.set-table{position:fixed; height:100%; width:83%}
.set-table-div{width:100%; height:65%; overflow:auto; border:1px solid #000}
.page-sidebar-closed .set-table{ width:94.5%}
.activated{background:#ccffcc;}
.mandatory{color:red;}
.table-hover > tbody > tr.activated:hover{background:#bef2be;}
#search1 input{ background-color:#410c3a; border:1px solid #410c3a; padding:3px 15px; color:#fff}
#search1 input:hover{ background-color:#61415d;}
.dropdown.dropdown-user li i{font-size: 20px;margin-top: 2px;}
.page-sidebar i{ display:inline-block; width:15px; vertical-align:top}
.page-sidebar span.title{display:inline-block; width:89%;vertical-align:top}
.dropdown-menu.dropdown-menu-default{ background-color: #fff; padding:5px 0;border: 1px solid #5f59a4}
.page-sidebar-menu li.sidebar-toggler-wrapper{ margin:0 0 5px}
.create_key.ajax-demo{background-color: transparent;border: none;/*padding: 5px 0;width: 125px; color:#fff*/ text-align:center; width:100%;}

.sendEmail{ background-color:transparent;border: none;/*padding: 5px 0;color:#fff;width: 125px;*/}
.create_key.ajax-demo i,.sendEmail i{ text-align:center;font-size:16px; transition:all ease-out }
.create_key.ajax-demo:hover i,.sendEmail:hover i,.edit-del a:hover i{ color:#9c8aa5 }
select{ height:34px; border:1px solid #ddd}
.edit-del a.edit{ margin:0 8px 0 0; }
.edit-del{text-align:center}
.modal-scrollable #ajax-modal .modal-body .col-md-12 form{height: 400px;overflow: auto;}
.modal-scrollable #ajax-modal .modal-body .col-md-12 form label{margin: 10px 0 0;}
.modal-scrollable #ajax-modal  form{height: 400px;overflow: auto;}
.modal-scrollable #ajax-modal  form label{margin: 10px 0 0;}
.modal-scrollable #ajax-modal .modal-body .col-md-12 form p{ width:95%}
.modal-scrollable #ajax-modal .modal-body .col-md-12 form p select{ height:35px; border:1px solid #ddd; display:block; width:100%}
.my-modal #UserForm{   
	height: 70%;
    overflow: auto;
    width: 100%;
	}
.my-modal #UserForm	p{
    display: inline-block;
    margin: 0 1% 12px 0;
    width: 32%;
	position:relative
}
.my-modal .modal-header .close{ display:none}
.my-modal #UserForm .blue.btn{min-width: 15%;}
#ajax-modal .my-modal .modal-header .close{ display:block}
#ajax-modal .my-modal #UserForm p{ width:100%}
#ajax-modal .my-modal #UserForm p{   margin: 0 1% 6px 0;}
#ajax-modal form label {margin: 6px 0 0;}
.row table.table tbody tr td.demail{ max-width:25px; min-width:25px; width:25px; text-align:center}
/* 2nd tab scroller remove */
.set-table-div.secnd-tab{ overflow-x:hidden}
.row .set-table-div.secnd-tab table.table tbody tr td, .row .set-table-div.secnd-tab table.table tbody tr th{word-break: break-all;}
.page-footer{ background-color:#fff}
.modal-scrollable #ajax-modal .modal-body .col-md-12 .search-page-form form{ height:auto}
.c-list-ico{ display:none}
	
@media (min-width: 320px) and (max-width: 767px) {
.set-table{width: 93%;}
.portlet > .portlet-title > .actions{ float:left}
#search1{ display:block !important}
.cat-nav > div.c-list{width: 100%; margin-top:5px;padding: 1.3% 3%;}
.btn-group a:first-child {margin-left: 0px;}
body{ position:relative}
.set-table{ position:relative; width:100%}
.portlet.box > .portlet-body{ overflow:auto}
.my-modal #UserForm p{ width:100%}
.set-table-div.secnd-tab {overflow-x: auto;}
.c-list-ico{  color: #ffffff;
    float: right;
    font-weight: bold;
    margin-top: 3px;
	display:block}
#viewAll1 + div{ display:none}
#viewAll1{background-color: #e4ac17;
    border-radius: 5px;}
#viewAll1 a{ color:#fff}
#search1{ margin-bottom:10px}
.cat-nav > div.c-list {
        display:none;
    }	
}
@media (min-width:769px) and (max-width:1280px) {
.set-table-div.secnd-tab {overflow-x: auto;}
.set-table-div {
    width: 100%;
}
.set-table{ width:79%}
.cat-nav > div.c-list{padding:0.3% 0.5%}
}
@media (min-width:769px) and (max-width:1023px) {
	.set-table {width: 95%;}
	.set-table-div {width: 100%;}
	
	}
@media (min-width: 768px) and (max-width: 768px) 
{
	.set-table-div.secnd-tab {overflow-x: auto;}
	.set-table{ width:95%}
	.set-table-div{ width:99%}
	.page-sidebar-menu {
    height: auto;
}}
@media (min-width: 1023px) and (max-width: 1024px) {
	.cat-nav > div.c-list {margin: 2px 0 6px;}
	.set-table {width: 73%;}

}
.clickable{
    cursor: pointer;
}