.set-table{position:fixed; height:100%; width:83%}
.set-table-div{width:100%; height:65%; overflow:auto; border:1px solid #000}
.page-sidebar-closed .set-table{ width:94.5%}
.activated{background:#ccffcc;}
.mandatory{color:red;}
.table-hover > tbody > tr.activated:hover{background:#bef2be;}
#search1 input{ background-color:#410c3a; border:0px solid #410c3a; padding:3px 15px; color:#fff}
#search1 input:hover{ background-color:#61415d;}
.dropdown.dropdown-user li i{font-size: 20px;margin-top: 2px;}
.page-sidebar i{ display:inline-block; width:15px; vertical-align:top}
.page-sidebar span.title{display:inline-block; width:89%;vertical-align:top}
.dropdown-menu.dropdown-menu-default{ background-color: #fff; padding:5px 0;border: 1px solid #5f59a4}
.page-sidebar-menu li.sidebar-toggler-wrapper{ margin:0 0 5px}
.create_key.ajax-demo{background-color: #764572;border: 1px solid #dddddd;padding: 5px 0; color:#fff; /*width: 125px;*/ width:95px; }
.sendEmail{ background-color:#55255c;border: 1px solid #dddddd;padding: 5px 0;color:#fff; /*width: 125px;*/ width:95px}
.blockDevice,.unblockDevice{background-color:#55255c;border: 1px solid #dddddd;padding: 5px 0;color:#fff; /*width: 125px;*/ width:95px}
select{ height:34px; border:1px solid #ddd}
.edit-del a.edit{ margin:0 2px 0 0}
.modal-scrollable #ajax-modal .modal-body .col-md-12 form{height: 400px;overflow: auto;}
.modal-scrollable #ajax-modal .modal-body .col-md-12 form label{margin: 10px 0 0;}
.modal-scrollable #ajax-modal  form{height: 400px;overflow: auto;}
.modal-scrollable #ajax-modal  form label{margin: 10px 0 0;}
.modal-scrollable #ajax-modal .modal-body .col-md-12 form p{ width:95%}
.modal-scrollable #ajax-modal .modal-body .col-md-12 form p select{ height:35px; border:1px solid #ddd; display:block; width:100%}
.my-modal #UserForm{   
	height: 70%;
    overflow: auto;
    width: 100%;
	}
.my-modal #UserForm	p{
    display: inline-block;
    margin: 0 1% 12px 0;
    width: 32%;
	position:relative
}
.my-modal .modal-header .close{ display:none}
.my-modal #UserForm .blue.btn{min-width: 15%;}
#ajax-modal .my-modal .modal-header .close{ display:block}
#ajax-modal .my-modal #UserForm p{ width:100%}
#ajax-modal .my-modal #UserForm p{   margin: 0 1% 6px 0;}
#ajax-modal form label {margin: 6px 0 0;}
/* 2nd tab scroller remove */
.set-table-div.secnd-tab{ overflow-x:hidden}
.row .set-table-div.secnd-tab table.table tbody tr td, .row .set-table-div.secnd-tab table.table tbody tr th{word-break: break-all;}

@media (min-width: 320px) and (max-width: 767px) {
.set-table{width: 93%;}
.portlet > .portlet-title > .actions{ float:left}
#search1{ display:block !important}
.cat-nav > div.c-list{width: 100%; margin-top:5px;padding: 1.3% 3%;}
.btn-group a:first-child {margin-left: 0px;}
body{ position:relative}
.set-table{ position:relative; width:100%}
.portlet.box > .portlet-body{ overflow:auto}
.my-modal #UserForm p{ width:100%}
@media (min-width:769px) and (max-width:1280px) {
.set-table-div.secnd-tab {overflow-x: auto;}
.set-table-div {
    width: 100%;
}
.set-table{ width:79%}
.cat-nav > div.c-list{padding:0.3% 0.5%}
}
@media (min-width:769px) and (max-width:1023px) {
	.set-table {width: 95%;}
	.set-table-div {width: 100%;}
	
	}
@media (min-width: 768px) and (max-width: 768px) 
{
	.set-table-div.secnd-tab {overflow-x: auto;}
	.set-table{ width:95%}
	.set-table-div{ width:99%}
	.page-sidebar-menu {
    height: auto;
}}
@media (min-width: 1023px) and (max-width: 1024px) {
	.cat-nav > div.c-list {margin: 2px 0 6px;}
	.set-table {width: 73%;}

}
.clickable{
    cursor: pointer;
}
.list-holder{max-height:280px; overflow:auto; padding-right: 10px;margin-bottom:10px; border-bottom:2px solid #CCC;}

/*LOADER*/

.loader{
    /*background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;*/
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}
.loader img{
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px; 
}
.fix_col_text{
    max-width: 100px !important;
    word-wrap: break-word !important;
}
